.buttons{
    display: flex;
}

.button1{
    background-color: #E69DB8;
    border: none;
}
.button1:hover{
    background-color: #e9bacb;
}

.fimdapag{
    text-align: center;
}

.card1{
    background-color: #111;
    margin-left: 5rem;
}

.textcolor{
    color: #f5eef1;
}

.subtextcolor{
    color: #ffffff;
}

.buttoncard{
    background-color: #111;
    border-color: #E69DB8;
}

.buttoncard:hover{
    background-color: #000000;
    border-color: #111;
}

.cardslinha1{
    margin-top: 5rem;
    display: flex;
}

.fimdapag{
    margin-top: 5rem;
}

.textfinal{
    color: #f5eef1;
    font-size: 20px;
}

.linkgit{
    color: #E69DB8;
}
