@import url('https://fonts.cdnfonts.com/css/primer');


#root{
    background-color: rgb(0, 0, 0);
    margin-left: 3rem;
    position: static; 
}


.title {
    margin-top: 4rem;
    font-size: 5rem;
    letter-spacing: 5rem;
    color: #e587a9;
    margin-left: 3rem;
    font-family: 'Primer', sans-serif;
    position: static; 

                                                    
}



.title2{
    font-size: 5rem;
    letter-spacing: 5rem;
    margin-top: 2rem;
    color: #E69DB8;
    margin-left: 3rem;
    font-family: 'Primer', sans-serif;
    position: static; 

                                                
}



.box2{
    margin-top: 5rem;
    display: flex;
    position: static; 

}


a .button{
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: 1.2rem;
    position: static; 
    margin-right: 5rem;

}


a .button:hover {
    background-color: #e07fa2;
    color: #111;
    position: static; 

}


