@import url('https://fonts.cdnfonts.com/css/primer');

.react{
    height: 9rem;
    margin-top: 5rem;
}

.titleskills{
    font-size: 4rem;
    margin-top: 3rem;
    font-family: 'Primer', sans-serif;
    color:#ffffff ;
                                                
}